// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT license.

#define VER_FILETYPE                    VFT_DLL
#define VER_FILEDESCRIPTION_STR         "IIS Brotli Compression Scheme"
#define VER_INTERNALNAME_STR            "iisbrotli.dll"
#define VER_LANGNEUTRAL
#define RC_VERSION_INTERNAL_NAME        "iisbrotli\0"
#define RC_VERSION_ORIGINAL_FILE_NAME   "iisbrotli.dll\0"
#define RC_VERSION_FILE_DESCRIPTION     "IIS Brotli Compression Scheme"
#define RC_VERSION_LEGAL_COPYRIGHT      "Copyright \251 2018 Microsoft Corporation\0"

#include <bldver.rc>
