<?xml version="1.0" encoding="utf-8" ?>

<!--
    IIS zlib and brotli Compression schemes setup
-->

<?define Codepage = "1252" ?>
<?define IisCompressionRoot=..\ ?>
<?define ProductCode="*" ?>
<?define UpgradeCode="AE9D426D-FAFB-4A57-953F-75A6B765936A" ?>

<!-- Version number -->
<?define Version = "1.0" ?>
<?define MsiVersion = "$(var.Version).$(var.BLDNUMMAJOR)" ?>
<?define ProductShortName="IIS Compression" ?>
<?define IISZlibCompressionScheme="IISZlib" ?>
<?define IISBrotliCompressionScheme="IISBrotli" ?>

<?include $(var.IisCompressionRoot)IIS-Setup\include.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="!(loc.IisCompressionProductName)"
             Manufacturer="!(loc.Manufacturer)"
             Version="$(var.MsiVersion)"
             Language="!(loc.Language)"
             Codepage="$(var.Codepage)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="yes"
             InstallerVersion="500"
             Scope="perMachine">

    <SummaryInformation Description="!(loc.IisCompressionProductName)" Manufacturer="!(loc.Manufacturer)" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <WixVariable Id="WixUILicenseRtf" Value=".\license\license.rtf" />

    <!-- include the standard app searches -->
    <?include $(var.IisCompressionRoot)IIS-Setup\appsearch5\appsearch.wxi ?>

    <!-- make patching UI go from welcome to ready to repair -->
    <?include $(var.IisCompressionRoot)IIS-Setup\iisca\wix5\FixPatchingBehavior.wxi ?>

    <!-- Properties that show up under Control Panel\Programs and Features\More Columns -->
    <Property Id="ARPCONTACT" Value="Microsoft Corporation" />
    <Property Id="ARPPRODUCTICON" Value="iiscompression.ico" />
    <Icon Id="iiscompression.ico" SourceFile="Bitmaps\iiscompression.ico" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerVersionFound)"
                  AllowSameVersionUpgrades="no"
                  Schedule="afterInstallFinalize" />

    <!-- Launch conditions -->
    <Launch Condition="Privileged" Message="!(loc.AdminRequired)" />

    <!-- Prevent install of 32 bit product on 64 bit machine -->
    <?if $(var.Platform) = "x86" ?>
    <Launch Condition="Installed Or NOT VersionNT64" Message="!(loc.LaunchCondition_64BIT)" />
    <?endif ?>

    <!-- prevent install of 64-bit product on ARM64 machine -->
    <?if $(var.Platform) = "x64" ?>
    <Launch Condition="(Installed And NOT PATCH) Or (PROCESSORARCHITECTURE ~&lt;&gt; &quot;ARM64&quot;)" Message="!(loc.LaunchCondition_ARM64)" />
    <?endif ?>

    <!-- Detect IIS version and require 7.5 -->
    <Launch Condition="Installed OR (VersionNT >= 601)" Message="!(loc.IIS75OrGreater)" />

    <!-- Require core web server and w3svc -->
    <Launch Condition="((IISCOREWEBENGINEINSTALLED = &quot;#1&quot;) AND (IISW3SVCINSTALLED = &quot;#1&quot;)) OR Installed" Message="!(loc.CoreWebW3SVC)" />

    <!-- Require VC14 runtime (Visual C++ 2015-2022 Redistributable) -->
    <Launch Condition="Installed OR VC14REDIST_INSTALLED = &quot;#1&quot;" Message="!(loc.VC14RedistRequired)" />

    <!-- Directory Structure and Component Definitions -->
    <StandardDirectory Id="$(var.ProgramFilesFolder)">
      <Directory Id="IISModuleDirectory" Name="IIS">
        <Directory Id="INSTALLLOCATION" ShortName="IISComp" Name="IIS Compression">
          <Component Id="IisZlib" Guid="B60CA37C-79E9-4ECF-BDF2-1EA3504D3A83" Bitness="$(var.Bitness)">
            <File Id="IisZlibDll"
                  Name="iiszlib.dll"
                  Source="$(var.NeutralBinRoot)\iiszlib.dll"
                  DiskId="1"
                  Vital="yes"
                  KeyPath="yes" />
            <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\$(var.IISZlibCompressionScheme)">
              <RegistryValue Name="EventMessageFile" Type="expandable" Value="[#IisZlibDll]"/>
              <RegistryValue Name="TypesSupported" Type="integer" Value="7"/>
            </RegistryKey>
          </Component>
          <Component Id="IisBrotli" Guid="3C2A0748-058E-46DB-B8C8-F1FF3BFB4C42" Bitness="$(var.Bitness)">
            <File Id="IisBrotliDll"
                  Name="iisbrotli.dll"
                  Source="$(var.NeutralBinRoot)\iisbrotli.dll"
                  DiskId="1"
                  Vital="yes" />
            <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\$(var.IISBrotliCompressionScheme)">
              <RegistryValue Name="EventMessageFile" Type="expandable" Value="[#IisBrotliDll]"/>
              <RegistryValue Name="TypesSupported" Type="integer" Value="7"/>
            </RegistryKey>
          </Component>
          <Component Id="License" Guid="399719BA-8F33-4B40-8B24-290946BA18D7" Bitness="$(var.Bitness)">
            <File Id="LicenseFile"
                  ShortName="license.rtf"
                  Name="iiscompression_license.rtf"
                  Source=".\license\license.rtf"
                  DiskId="1"
                  Vital="yes"/>
          </Component>
          <Component Id="ThirdPartyNotices" Guid="D1CCF0C2-F183-4B17-A3BB-B0C3BF8B09F5" Bitness="$(var.Bitness)">
            <File Id="ThirdPartyNoticesFile"
                  ShortName="TPN.txt"
                  Name="iiscompression_ThirdPartyNotices.txt"
                  Source=".\ThirdPartyNotices.txt"
                  DiskId="1"
                  Vital="yes"/>
          </Component>
          <Component Id="Readme" Guid="4024AAD1-6345-4F0D-B434-953B779825C0" Bitness="$(var.Bitness)">
            <File Id="ReadmeFile"
                  ShortName="readme.htm"
                  Name="iiscompression_readme.htm"
                  Source=".\iiscompression_readme.htm"
                  DiskId="1"
                  Vital="yes"/>
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <!-- Discoverability-->
    <Component Id="DiscoverabilityKey" Guid="18765706-E98E-43EF-8F02-0F877679CF75" Bitness="$(var.Bitness)" Directory="TARGETDIR">
      <RegistryKey Root="HKLM" Key="$(var.DiscoverabilityKeyRoot)\$(var.ProductShortName)">
        <RegistryKey Key="$(var.IISZlibCompressionScheme)">
          <RegistryValue Type="integer" Name="Install" Value="1" />
          <RegistryValue Type="string" Name="Version" Value="$(var.MsiVersion)" />
        </RegistryKey>
        <RegistryKey Key="$(var.IISBrotliCompressionScheme)">
          <RegistryValue Type="integer" Name="Install" Value="1" />
          <RegistryValue Type="string" Name="Version" Value="$(var.MsiVersion)" />
        </RegistryKey>
      </RegistryKey>
    </Component>

    <!-- WOW64 Support -->
    <?if $(var.IsWin64)=yes ?>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="IISModuleDirectory32" Name="IIS">
        <Directory Id="INSTALLLOCATION32" ShortName="IISComp" Name="IIS Compression">
          <Component Id="IisZlib32" Guid="FBDB630C-D614-4523-910E-257E41E5F83D" Bitness="always32">
            <File Id="IisZlibDll32"
                  Name="iiszlib.dll"
                  Source="$(var.NeutralWOW64BinRoot)\iiszlib.dll"
                  DiskId="1"
                  Vital="yes" />
          </Component>
          <Component Id="IisBrotli32" Guid="72A086DB-7D00-466D-81A1-84D07388E023" Bitness="always32">
            <File Id="IisBrotliDll32"
                  Name="iisbrotli.dll"
                  Source="$(var.NeutralWOW64BinRoot)\iisbrotli.dll"
                  DiskId="1"
                  Vital="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <!-- Discoverability WOW64 -->
    <Component Id="DiscoverabilityKeyWow" Guid="1E9CDB5F-1E85-4F6D-8243-BFA63A5F71B9" Bitness="always32" Directory="TARGETDIR">
      <RegistryKey Root="HKLM" Key="$(var.DiscoverabilityKeyRoot)\$(var.ProductShortName)">
        <RegistryKey Key="$(var.IISZlibCompressionScheme)">
          <RegistryValue Type="integer" Name="Install" Value="1" />
          <RegistryValue Type="string" Name="Version" Value="$(var.MsiVersion)" />
        </RegistryKey>
        <RegistryKey Key="$(var.IISBrotliCompressionScheme)">
          <RegistryValue Type="integer" Name="Install" Value="1" />
          <RegistryValue Type="string" Name="Version" Value="$(var.MsiVersion)" />
        </RegistryKey>
      </RegistryKey>
    </Component>

    <?endif ?>

    <!-- Feature Definition -->
    <Feature Id="IisCompressionFeature" Title="!(loc.IisCompressionTitle)" Description="!(loc.IisCompressionDescription)" Level="1">
      <ComponentRef Id="IisZlib"/>
      <ComponentRef Id="IisBrotli"/>
      <ComponentRef Id="License"/>
      <ComponentRef Id="ThirdPartyNotices"/>
      <ComponentRef Id="Readme"/>
      <ComponentRef Id="DiscoverabilityKey"/>
      <?if $(var.IsWin64)=yes ?>
      <ComponentRef Id="IisZlib32"/>
      <ComponentRef Id="IisBrotli32"/>
      <ComponentRef Id="DiscoverabilityKeyWow"/>
      <?endif ?>
    </Feature>

    <!-- User Interface -->
    <ui:WixUI Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText"/>

    <UI>
      <DialogRef Id="WelcomeEulaDlg"/>

      <!--Custom errors specific to shared configuration detection -->
      <Error Id="30001" Message="!(loc.Error30001)" />
      <Error Id="30002" Message="!(loc.Error30002)" />
      <!-- Require WAS and WMSVC be stopped to avoid restarts -->
      <Error Id="30003" Message="!(loc.WebServicesRunning)" />
    </UI>

    <!-- Specific custom actions for this project. -->
    <CustomAction Id="RegisterCompressionSchemes"
                  BinaryRef="IISCustomActionDll"
                  DllEntry="RegisterCompressionSchemesCA"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no"/>

    <CustomAction Id="CleanupCompressionSchemes"
                  BinaryRef="IISCustomActionDll"
                  DllEntry="CleanupCompressionSchemesCA"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no"/>

    <InstallExecuteSequence>
      <Custom Action="RegisterCompressionSchemes" After="InstallFiles" Condition="NOT Installed" />
      <Custom Action="CleanupCompressionSchemes" Before="RemoveFiles" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />
    </InstallExecuteSequence>
  </Package>

  <Fragment>
    <!-- Reference Output by project name -->
    <Binary Id="IISCustomActionDll" SourceFile="$(var.iiscompressionCA.TargetPath)"/>
  </Fragment>
</Wix>
